body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 25px 0px 0px;
}

.content {
  background: #e3f4ff;
  margin: 15px 0px;
  padding: 30px 15px;
  font-size: 30px;
}

.button-container {
  background: #e3f4ff;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  font-size: 30px;
  padding: 10px 40px;
  margin: auto;
}